.category1 {
  background: url(../assets/hat.jpg) center/cover no-repeat;
}

.category2 {
  background: url(../assets/jackets.jpg) center/cover no-repeat;
}

.category3 {
  background: url(../assets/sneakers.jpg) center/cover no-repeat;
}

.category4 {
  background: url(../assets/women.jpg) center/cover no-repeat;
}

.category5 {
  background: url(../assets/dblackshirt.jpg) center/cover no-repeat;
}

.category-title {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  opacity: 0.6;
  font-weight: 700;
}

.category-title:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 3px 5px 7px rgb(0, 0, 0, 0.5);
}

.nav {
  /* background: url("../assets//heroImg.jpg") center/cover no-repeat; */
  background-color: #022030;
}
